h1, h2, h3, h4, h5, h6, p, span, a {
	font-weight: lighter;
	font-family: helvetica, 'Myriad Pro', sans-serif;
}

h1.statement {
	text-transform: uppercase;
	font-size: 3.6em;
	color: #444;
	font-weight: lighter;
	margin: 0; padding: 2px;
}

strong h3 {
	text-transform: uppercase;
	font-size: 1.4em;
}

h4 {
	text-align: center;
	padding-bottom: 0; margin-bottom: 0;
}

.center {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.iconbox {
	margin-left: 14px;
}